# configuration settings for http://travis-ci.org

language: ruby

rvm:
  - 1.9.3

before_install:
  - gem install bundler

bundler_args: --without development assets

before_script:
  - rake db:create
  - rake db:migrate
  - rake db:seed
  - rake db:test:prepare

script:
  - rake spec

notifications:
  email: false
